:root{
    --white: #fff;
    --dark-gray: rgb(71,74,91);
    --light-gray: #D1D1D1;
    --hover-red: #C11F25;
    --button-padding:.5em 1.5em;
    --padding:1.25em 2.5em;
    --margin:2rem 8rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Madawaska, serif;
    font-weight: 400;
    color: var(--dark-gray);
}

/* title styling */

h1, h2{
    font-family:bio-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;    
}
h2{
    font-size: 2em;
    text-align: center;
    padding: var(--padding);
}
.subhead-dark-bg{
    color: var(--white);
}

/* body text styling */

p{
    text-align: center;
    padding: var(--padding);
    font-size: 1.1rem;
}
.text-dark-bg{
    color: var(--light-gray);
}
a{
    font-size: 1.25em;
    text-decoration: none;
    color:var(--dark-gray);
}
a:hover{
    color: var(--hover-red);
}

/* button styling for links */

.button{
    background-color: var(--dark-gray);
    color: var(--light-gray);
    padding: var(--button-padding);
    font-family:bio-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;  
    border: .25em solid var(--light-gray);
    border-radius: 2.5px;
}
.alt-button{
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: .25em solid var(--dark-gray);
}
.button:hover{
    border: .25em solid var(--hover-red);
}
/* header and nav bar style */

header{
    display: flex;
    background-color: var(--white);
    height: 75px;
    justify-content: space-between;
    align-content: center;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.logo > h1{
    font-size: 3em;
    margin: 0 1.5em;
}
nav > ul{
    display: flex;
    height: 75px;
}
header li{
    align-self: center;
    list-style: none;
    margin: 0 1em;
    letter-spacing: .25em;
}
header a {
    font-family:bio-sans, sans-serif;
    font-size: 1rem;
}
a:hover{
    color: var(--hover-red);
}

/* style for about me section */

#about {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--dark-gray);
    margin: var(--margin);
    /* border: 1em solid var(--dark-gray);
    border-radius: 5px; */
    margin-top: 7.5em;
    justify-content: center;
    align-content: center;
    height: 450px;  
}
#about h2{
    padding-bottom: 0;
}
.about-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}
#about > div{
    width: 50%;
}
#about img {
    height:450px;
    align-content: center;
}

/* img gallery style for work and lettering sections*/

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: var(--margin);
}

.gallery-img{
    width:25%;
    padding: 0em 1.5em .75em 1.5em;
}
.gallery-img img {
    width:100%;
    border: .35em solid white;
    border-radius: 10%;
}
.gallery-img img:hover{
    width:100%;
    border: .35em solid var(--hover-red);
    border-radius: 10%;
}
#lettering img:hover{
    width:100%;
    border: .35em solid white;
    border-radius: 10%;
}

/* style for lettering buttons */
.lettering-buttons{
    padding: var(--padding);
}
.lettering-buttons >a{
    margin: 1em;
}

/* newsletter sign up style */

#newsletter-form {
   text-align: center;
   height:125px;
   margin: var(--margin);
   background-color: var(--dark-gray);
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-content: center;
   border: 1em solid var(--dark-gray);
   border-radius: 5px;
   
}
#newsletter-form label{
    font-family:bio-sans, sans-serif;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: .5em;
}
#newsletter-form input{
    height: 2.5em;
    background-color: var(--light-gray);
    border: .25em solid var(--white);
    border-radius: 5px;
}
#newsletter-form input[type=email]{
    width:20%;
    padding: 0 .5em;
}
#newsletter-form input[type=submit]{
    width:10%;
    font-family:bio-sans, sans-serif;
    font-weight: 700;
}
#newsletter-form input[type=submit]:hover{
    color:var(--hover-red);
    border: .25em solid var(--hover-red);
}

/* editoral section style */

#editoral {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--dark-gray);
    margin: var(--margin);
    border: .5em solid var(--dark-gray);
    border-radius: 5px;
    margin-top: 7.5em;
    justify-content: center;
    align-content: center;
    height: auto;  
}
.editorial-testimonials{
    background-color: var(--white);
}
#editoral >div{
    width: 50%;
    padding: var(--padding);
}
#editoral p{
    text-align: justify;
    padding: var(--padding);
}

.editorial-testimonials a{
    float:right;
    color:var(--hover-red);
}
.editorial-testimonials a:hover{
    text-decoration: underline;
}

