:root{
    --white: #fff;
    --dark-gray: rgb(71,74,91);
    --light-gray: #D1D1D1;
    --hover-red: #C11F25;
    --spacing:1.5em;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Madawaska, serif;
    font-weight: 400;
    color: var(--dark-gray);
}
h1, h2{
    font-family:bio-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;    
}
/* header and nav bar style */
header{
    display: flex;
    background-color: var(--white);
    height: 150px;
}
.logo > h1{
    font-size: 3em;

}