:root {
    --white: #fff;
    --dark-gray: rgb(71, 74, 91);
    --light-gray: #D1D1D1;
    --hover-red: #C11F25;
    --button-padding: .5em 1.5em;
    --padding: 1.25rem 2.5rem;
    --margin: 4rem 8rem;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Madawaska, serif;
    font-weight: 400;
    color: var(--dark-gray);
}

li {
    list-style: none;
}

/* title styling */

h1,
h2 {
    font-family: bio-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    text-align: center;

}

h3 {
    font-size: 2em;
    font-family: bio-sans, sans-serif;
    font-weight: 700;
    color: var(--light-gray)
}

.subhead-dark-bg {
    color: var(--white);
}

/* body text styling */

p {
    text-align: center;
    padding: var(--padding);
    font-size: 1.1rem;
}

.text-dark-bg {
    color: var(--light-gray);
}

a {
    font-size: 1.25em;
    text-decoration: none;
    color: var(--dark-gray);
}

a:hover {
    color: var(--hover-red);
}

/* button styling for links */

.button {
    background-color: var(--dark-gray);
    color: var(--light-gray);
    padding: var(--button-padding);
    font-family: bio-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: .25em solid var(--light-gray);
    border-radius: 2.5px;
}

.alt-button {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: .25em solid var(--dark-gray);
}

.button:hover {
    border: .35em solid var(--hover-red);
}

/* header and nav bar style */

header {
    display: flex;
    background-color: var(--white);
    height: 75px;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo>h1 {
    font-size: 3em;
    margin-left: 1.5em;
}

nav>ul {
    display: flex;
    height: 75px;
}

header li {
    align-self: center;
    margin: 0 1em;
    letter-spacing: .25em;
}

header a {
    font-family: bio-sans, sans-serif;
    font-size: 1rem;
}

a:hover {
    color: var(--hover-red);
}

.nav-toggle,
.nav-toggle-label {
    display: none;
}

/* style for about me section */

#about {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--dark-gray);
    margin: var(--margin);
    border: 1em solid var(--dark-gray);
    border-radius: 5px;
    margin-top: 7.5em;
    justify-content: center;
    align-content: center;
    height: 450px;
}

#about h2 {
    padding: var(--padding);
    padding-bottom: 0;
}

.about-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

#about>div {
    width: 50%;
}

#about img {
    height: 434px;
}

.about-img {
    text-align: center;

}

/* img gallery style for work and lettering sections*/

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: var(--margin);
}

.gallery-img {
    width: 25%;
    padding: 0em 1.5em .75em 1.5em;
}

.gallery-img img {
    width: 100%;
    border: .35em solid white;
    border-radius: 10%;
}

.gallery-img img:hover {
    width: 100%;
    border: .35em solid var(--hover-red);
    border-radius: 10%;
}

#lettering img:hover {
    width: 100%;
    border: .35em solid white;
    border-radius: 10%;
}

/* style for lettering buttons */
.lettering-buttons {
    padding: var(--padding);
}

.lettering-buttons>a {
    margin: .5em;
}
.lettering-buttons i {
    padding-right: .5em;
}
/* basic form style */

textarea,
input,
select {
    font-size: 1em;
    font-family: Madawaska, serif;
    font-weight: 400;
    color: var(--dark-gray);
}

input,
select {
    height: 2.5em;
}

input,
select,
textarea {
    background-color: var(--light-gray);
    border: .25em solid var(--white);
    border-radius: 5px;
    padding-left: .5em;
}

input[type=email],
input[type=text] {
    width: 12em;
    padding: 0 .5em;
}

input[type=submit] {
    width: 8em;
    font-family: bio-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
}

input[type=submit]:hover {
    color: var(--hover-red);
    border: .25em solid var(--hover-red);
}

textarea {
    padding-top: .25em;
}

/* placeholder font style */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1em;
    font-family: Madawaska, serif;
    font-weight: 400;
    color: var(--dark-gray);
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 1em;
    font-family: Madawaska, serif;
    font-weight: 400;
    color: var(--dark-gray);
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 1em;
    font-family: Madawaska, serif;
    font-weight: 400;
    color: var(--dark-gray);
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 1em;
    font-family: Madawaska, serif;
    font-weight: 400;
    color: var(--dark-gray);
}

/* newsletter sign up style */

#newsletter-form {
    text-align: center;
    height: 125px;
    margin: var(--margin);
    background-color: var(--dark-gray);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    border: 1em solid var(--dark-gray);
    border-radius: 5px;

}

#newsletter-form label {
    font-family: bio-sans, sans-serif;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: .5em;
}

/* editoral section style */

#editoral {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--dark-gray);
    margin: var(--margin);
    border: .5em solid var(--dark-gray);
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    height: auto;
}

#editoral th,
tr {
    text-align: left;
    margin-left: 1em;
}

#editoral th {
    font-family: bio-sans, sans-serif;
    color: var(--white);
    font-size: 1.1em;
}

#editoral tr {
    color: var(--light-gray);
}

.editorial-testimonials {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background-color: var(--white);
    width: 60%;
}

.editorial-rates {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}

#editoral>div {
    padding: var(--padding);
}

#editoral p {
    text-align: justify;
    padding: .25em 1em
}

.editorial-testimonials a {
    align-self: flex-end;
    color: var(--hover-red);
    padding-right: 3em;
}

.editorial-testimonials a:hover {
    text-decoration: underline;
}

.editorial-rates>h2 {
    padding: 1em 0;
}

.editorial-rates>a {
    align-self: center;
    margin: 1.5em;
}

.editorial-rates>table {
    padding: 2em;
}

/* Contact me form style */

#contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    background-color: var(--dark-gray);
    border: 1em solid var(--dark-gray);
    margin: var(--margin);
    margin: 2rem 20rem;
    border-radius: 5px;
    height: auto;
}

#contact>h2 {
    padding: .75em;
}

#contact>form {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    width: 60%;
}

#contact label,
input,
textarea,
select {
    align-self: center;
    font-family: Madawaska, serif;
    font-weight: 400;
    text-transform: none;
    margin: .5em;
}

#contact input,
textarea,
select {
    width: 100%;
}

#contact input[type=submit] {
    margin-top: 2em;
    width: 8em;
}

#contact label {
    font-family: Madawaska, serif;
    font-weight: 400;
    font-size: 1.25em;
    color: var(--light-gray);
}

/* footer */

footer {
    height: 75px;
    background-color: var(--light-gray);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    z-index: 100;
}

.social-networks {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 80%;
}

.social-networks i {
    font-size: 2em;
    margin: 1%;
    padding: 5%;
    color: var(--dark-gray);
}

.social-networks i:hover {
    color: var(--hover-red);
}

/* work sample pages style */

.work-container {
    display: flex;
    flex-flow: row nowrap;
}

.work-pages {
    width: 65%;
    margin-top: 4.5em;
}

.work-pages>img {
    width: 100%;
}

.work-blurb {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 35%;
    background-color: var(--dark-gray);
    position: fixed;
    right: 0;
}

.work-blurb>p {
    color: var(--light-gray);
    text-align: left;
}

.work-blurb-links a,li {
    color: var(--white);
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.work-blurb-links a:hover {
    color: var(--hover-red);
}

.work-blurb>ul {
    padding: var(--padding);
    margin-bottom: 2.5rem;
}

.work-blurb>h2 {
    padding: var(--padding);
    font-size: 1.5em;
    text-align: left;
}

.work-blurb>div {
    align-self: center;
    padding: var(--padding);
}

.buy-link>a {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}



/* media queries for responsive design */

/* for large screens 1150px and down  */
@media screen and (max-width:1150px) {

    /* work samples pages style  */

    .work-blurb {
        width: 40%;
    }

    .work-pages {
        width: 60%;
    }
}

/* for large screens 1093px and down  */
@media screen and (max-width:1093px) {

    :root {
        --margin: 2rem 4rem;
    }


    /* nav bar and header */

    header {
        flex-flow: column;

    }

    .logo h1 {
        text-align: center;
        margin: 0;

    }

    nav>ul {
        flex-flow: column;
        height: auto;
        align-self: flex-start;
        background-color: var(--white);
    }

    header li {
        align-self: flex-start;
        margin: .25em 2em;
        letter-spacing: .25em;
    }

    nav {
        width: 100%;
        background-color: var(--white);
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }

    .nav-toggle:checked~nav {
        transform: scale(1, 1);
    }

    nav a {
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 2em;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: var(--dark-gray);
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 7px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

    .nav-toggle:checked~nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    /* image gallery  */
    .gallery-img {
        width: 33%;
    }

    /* contact form */
    #contact {
        margin: 15%;
    }

    #contact>form {
        width: 100%;
        padding: var(--padding);
    }

}


/* for small screens 960px and down  */
@media screen and (max-width:960px) {

    :root {
        --margin: 2rem 4rem;
    }


    /* image gallery  */
    .gallery-img {
        width: 50%;
    }

    /* about me section */

    #about {
        flex-flow: column;
        height: auto;
        justify-content: center;
    }

    #about>div {
        width: 100%;
    }

    #about img {
        height: auto;
        width: 100%;
    }

    /* editorial section */

    #editoral {
        flex-flow: column;
        text-align: center;
    }

    .editorial-rates,
    .editorial-testimonials {
        width: 100%;
    }

    .editorial-rates {
        padding-left: 30%;
        padding-right: 30%;
    }

    /* contact form */
    #contact {
        margin: var(--margin);
    }

    /* work sample pages  */

    .work-container {
        display: flex;
        flex-flow: column nowrap;
    }

    .work-blurb {
        height: auto;
        width: 100%;
        position:inherit;
        margin: 7.5em 0 0 0;
        text-align: center;
        right: auto;
        order:1;

    }
    .work-pages {
        width: 100%;
        order:2;
        margin-top: 0;
    }
    .work-blurb > h2,a,p{
        text-align: center;
    }
    .work-blurb>ul {
        margin: 0;
    }
    .buy-link{
        margin: var(--margin);
        margin-top: 0;
    }
    .work-blurb >h2{
        margin: var(--margin);
        font-size: 2.5em;
        margin-bottom:0;
    }
    .work-blurb>p{
        margin: 0 3em;
        text-align: center;
    }
}

/* for small screens 741 and down  */
@media screen and (max-width:741px) {

    .lettering-buttons {
        display: flex;
        flex-flow: column;
        padding: 0;
    }

    /* header */

    :root {
        --margin: 2rem 1.5rem;
    }

    .logo>h1 {
        font-size: 2.5em;
        margin-left: 1.5em;
    }

    /* contact form */


    #contact {
        height: auto;
    }

    /* newsletter */

    #newsletter-form {
        height: auto;
    }

    #newsletter input {
        width: 100%;
        margin: 1em 0;
    }

    /* work sample pages  */
    
    .work-blurb>p{
        margin: 0 1em;
    }
    /* header */
    .logo>h1 {
        font-size: 2em;
        padding-right: 0;
    }
    header {
        height: 50px;
    }
    .nav-toggle-label {
        margin-left: 1em;
    }
}